{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %} 


  <!-- CATEGORYS START-->
  <div class="row">
    <div class="col-xs-3 offset-2 pt-3 mt-4 px-3 pb-2" style="background-color: #ddd; border-bottom: 6px solid rgb(41, 170, 202);">
        <a href="">
            <i class="fas fa-subway fa-3x"></i>
        </a>
        <h5 class="pt-2">Trains</h5>
    </div>
    <div class="col-xs-3 px-3 pt-3 mt-4 ml-2 pb-2">
        <a href="">
            <i class="fas fa-plane fa-3x"></i>
        </a>
        <h5 class="pt-2 ml-n1">Flights</h5>
    </div>
    <div class="col-xs-3 pt-3 mt-4 px-3 ml-2 pb-2">
        <a href="">
            <i class="fas fa-bus fa-3x"></i>
        </a>
        <h5 class="pt-2 ml-n2">Autobus</h5>
    </div>
</div>
<!-- CATEGORYS END-->

<!-- SELECTION START -->
<!--<form action="/api/flight" method='GET'>
    D<input type="text" placeholder="country" name="country">
    D<input type="text" placeholder="currency" name="currency">
    D<input type="text" placeholder="locale" name="locale">
    D<input type="text" placeholder="originplace" name="originplace">
    D<input type="text" placeholder="destinationplace" name="destinationplace">
    D<input type="text" placeholder="outboundpartialdate" name="outboundpartialdate">
    <input type="submit" value="GO">
</form>-->
<form action="/api/car" method="GET">
    <div class="container my-3" id="selection_container">
        <div class="row">
            <div class="col-xs-4 mt-3 ml-3">
                <label for="pickup_location">pickup location</label>
                <input type="text" placeholder="VIE" name="pickup_location" class="two_inputs_line">
            </div>
            <div class="col-xs-4 mt-3 ml-2">
                <label for="pickup_date">pickup date</label>
                <input type="text" placeholder="YYYY-MM-DD" name="pickup_date" class="two_inputs_line">
            </div>
            <div class="col-xs-4 mt-3 ml-2">
                <label for="pickup_time">pickup time</label>
                <input type="text" placeholder="hh:mm" name="pickup_time" class="two_inputs_line">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 mt-3 ml-3">
                <label for="return_location">return location</label>
                <input type="text" placeholder="VIE" name="return_location" class="two_inputs_line">
            </div>
            <div class="col-xs-4 mt-3 ml-2">
                <label for="return_date">return date</label>
                <input type="text" placeholder="YYYY-MM-DD" name="return_date" class="two_inputs_line">
            </div>
            <div class="col-xs-4 mt-3 ml-2">
                <label for="return_time">return time</label>
                <input type="text" placeholder="hh:mm" name="return_time" class="two_inputs_line">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xs-10 offset-1 mb-5">
                <input type="submit" value="Ride away!" id="submit_button">
            </div>
        </div>
    </div>
</form>

<!--<button id="roundtrip" href="#">Roundtrip</button>-->
<!--<button id="one_way" href="#">One Way</button>-->


<!-- SELECTION END -->
{% endblock %}