{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %} 

<div class="row">
    <div class="col-xs-2 offset-5">
        <h1>This is your cart</h1>
    </div>
</div>
{% if flights %}
    {% for flight in flights %}
    <div class="row">
        <h3>flight id: {{ flight.carrier_id }}</h3>
    </div>
    <div class="row">
        <p>Leaves from {{ flight.departure_airport }} and goes to {{ flight.destination_airport }} the {{ flight.date }} at {{ flight.time }}</p>
        <p>The price will be {{ flight.price }} {{ flight.symbol }} </p>
    </div>

    {% endfor %}
{% else %}
    <h1>No flights</h1>
{% endif %}
            
        


{% endblock %}