{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %} 

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
  {% endfor %}
{% endwith %}

<div class="row my-3">
    <div class="col-xs-8 offset-3 mr-n3">
        <h2>This is your cart</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 offset-4 mb-2">
        <h3 style="text-decoration: underline;">Your flights:</h3>
    </div>

</div>
{% if flights %}
    {% for flight in flights %}
        <div class="ticket_container mt-2 mb-3 mx-3">
            <div class="row my-2">
                <div class="col-xs-6 offset-4">
                    <h4>flight id: {{ flight.carrier_id }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 offset-2">
                    <p class="ticket_text">Leaves from {{ flight.departure_airport }}.</p> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 offset-1">
                    <p class="ticket_text">and goes to {{ flight.destination_airport }} the {{ flight.date }} at {{ flight.time }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 offset-3">
                    <p class="ticket_text">The price will be {{ flight.price }} {{ flight.symbol }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 ml-3 purchase">
                    <a href="/troll">
                        <button class="purchase">Purchase</button>
                    </a>
                </div>
                <div class="col-xs-5 delete">
                    <a href="http://127.0.0.1:5000/delete_ticket?carrier_id={{ flight.carrier_id }}">
                        <button class="delete">Delete</button>
                    </a>
                </div>
            </div>
        </div>


    {% endfor %}
{% else %}
    <h4>No flights</h4>
{% endif %}
</div>


<div class="row">
    <h2>Your train rides</h2>
</div>
{% if trains %}
    {% for train in trains %}
    <div class="row">
        <h3>Trains</h3>
    </div>
    {% endfor %}
{% else %}
    <h3>No Train rides</h3>
{% endif %}

<div class="row">
    <h2>Your Bus rides:</h2>
</div>
{% if buses %}
    {% for bus in buses %}
    <div class="row">
        <h3>Bus</h3>
    </div>
    {% endfor %}
{% else %}
    <h3>No Bus rides</h3>
{% endif %}
            
        


{% endblock %}