{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %} 

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
  {% endfor %}
{% endwith %}

  <!-- CATEGORYS START-->

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h2>Your Profile</h2>
        </div>
    </div>
    <form action="/change_profile_processing" method="POST">
        <div class="row">
            <label for="firstname">Firstname:</label>
            <input type="text" name="firstname" value="{{ firstname }}">
        </div>
        <div class="row">
            <label for="lastname">Lastname:</label>
            <input type="text" name="lastname" value="{{ lastname }}">
        </div>
        <div class="row">
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{ email }}">
        </div>
        <div class="row">
            <a href="/email_processing">Change password with mail</a>
        </div>
        <div class="row">
            <input type="submit" value="Change">
        </div>
    </form>
    
</div>
{% if users %}
    <table>
        <thead>
            <td><h3>firstname</h3></td>
            <td><h3>lastname</h3></td>
            <td><h3>email</h3></td>
            <td><h3>password</h3></td>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><h3>{{ user.firstname }}</h3></td>
                <td><h3>{{ user.lastname }}</h3></td>
                <td><h3>{{ user.email }}</h3></td>
                <td><h3>{{ user.password }}</h3></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}




{% endblock %}