{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %} 

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

  <!-- CATEGORYS START-->

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h2>Your Profile</h2>
        </div>
    </div>
    <form action="/change_profile_processing" method="POST">
        <div class="row">
            <label for="firstname">Firstname:</label>
            <input type="text" name="firstname" value="{{ firstname }}">
        </div>
        <div class="row">
            <label for="lastname">Lastname:</label>
            <input type="text" name="lastname" value="{{ lastname }}">
        </div>
        <div class="row">
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{ email }}">
        </div>
        <div class="row">
            <a href="/email_processing">Change password with mail</a>
        </div>
        <div class="row">
            <input type="submit" value="Change">
        </div>
    </form>
    
</div>




{% endblock %}